body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
section{
    margin-bottom: 200px;
}
.header-banner{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.header-div{
    width: 50%;
    padding-left: 100px;
    padding-right: 30px;
}
.header-div img{
    width: 80%;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.hire-me{
text-decoration: none;
background-image: linear-gradient(rgb(230, 66, 25), rgb(168, 34, 10));
border-radius: 5px;
padding: 10px 40px;
color: white;
}

.dream-big{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.bottom{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.bottom-wraper{
    display: flex;
   
 
}

.time{
    color: orange;
}
.bottom-wraper p{
    color: lightskyblue;
    text-align: justify;
}
.bottom-box1{
width: 40%;
margin-left: 5%;
margin-right: 5%;
box-shadow: 10px 10px 40px gray;
padding-left: 10px;
border-image: linear-gradient(orange, tomato);
border-left: 5px solid;
border-image-slice: 1;
}
.bottom-box2{
width: 40%;
margin-left: 5%;
margin-right: 5%;
box-shadow: 10px 10px 40px gray;
padding-left: 10px;
border-left: 5px solid;
border-image: linear-gradient(blue, cyan);
border-image-slice: 1;
}
footer p{
    text-align: center;
}